@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;400&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@500&family=Lilita+One&family=Poppins:wght@700&family=Rajdhani&family=Rowdies:wght@300&family=Ubuntu:wght@300&display=swap');
/* ###################### Global styles  */

:root {
    --main-color: #1C1C1C;
    --secondary-color: #262525;
    --box-bg: #DAA425;
    --btnBg: #dd9d07;
    --borderBg: #110e49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Russo One', sans-serif;
}

p,
a,
li,
span,
input,
label,
textarea {
    font-family: 'Raleway', sans-serif;
}

.bg {

    background-color: var(--main-color);
    color: #fff;
}

.bg2 {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: #fff;
}

p a {
    text-decoration: none;
}


ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

div a {
    color: #f2f2f2;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #8c8a8a;
}

.bg-gold {
    background: linear-gradient(170deg, #5D54A4, #DAA425);
    /* background-color: #f8e6b0; */
}

.bg-win {
    background-color: var(--btnBg);
}

#dashboard-links {
    top: 5rem;
    right: 40px;
    position: fixed;
    background-color: #242222;
    border-radius: 5px;
    box-shadow: 1px 3px 4px rgb(188, 50, 50);
    width: 180px;
}

#dashboard-links ul li {
    padding-top: 10px;
}

#dashboard-links ul li a {
    color: rgb(158, 157, 157);
}

#dashboard-links ul li a:hover {
    color: #fff;
}

.header-modal {
    position: fixed;
    height: 550px;
    width: 100%;
    top: 0;
    z-index: 5;
    background-color: var(--main-color);
    box-shadow: 0px 0px 25px rgb(188, 50, 50);
}


@media only screen and (min-device-width: 320px) and (max-device-width : 480px) {
    .header-modal {
        overflow: scroll;
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5;
        background-color: var(--main-color);
        box-shadow: 0px 0px 25px rgb(188, 50, 50);
    }
}

.border-left {
    border-left: 10px solid var(--btnBg);
    background-color: #030213;
}

#navbar {
    overflow: hidden;
    background-color: var(--main-color);
    box-shadow: 1px 1px 2px #3c3a36;
    z-index: 2;
    /* height: 80px; */
}

#navbar a {
    display: inline;
    text-decoration: none;
}

.account-link {
    background-color: var(--btnBg);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 3px 5px red;
}

.account-link:hover {
    transition: 1s;
    color: #efefef;
    box-shadow: none;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}


.cursor {
    cursor: pointer;
}

.hidden {
    display: none;
}

.img {
    object-fit: contain;
    width: 400px;
    margin-left: 190px;
    margin-top: 100px;
    z-index: 0;
}

.hero-title {
    padding-top: 160px;
}

.screen {
    position: relative;
    height: 750px;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

/* Large device background */
.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
    margin-top: 80px;
}

.screen__background__shape1 {
    transform: rotate(0);
    height: 12px;
    width: 280px;
    background-color: #333;
    box-shadow: 0px 4px 0px rgb(188, 50, 50);
    top: 400px;
    right: 210px;
    border-radius: 50%;
    z-index: 130;

}

.screen__background__shape2 {
    height: 220px;
    width: 590px;
    background: var(--box-bg);
    top: 100px;
    left: 50px;
    border-radius: 32px;
    box-shadow: 0px 0px 25px rgb(188, 50, 50);
}

.screen__background__shape3 {
    height: 650px;
    width: 220px;
    background-color: var(--box-bg);
    top: 0px;
    left: 290px;
    border-radius: 32px;
    box-shadow: 0px 0px 25px rgb(188, 50, 50);
}

/* Small device background */
.sm-screen {
    position: relative;
    height: 470px;
}

.sm-screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.sm-screen__background__shape {
    transform: rotate(-40deg);
    position: absolute;
    margin-top: 120px;
}

.sm-screen__background__shape1 {
    height: 200px;
    width: 300px;
    background-color: var(--box-bg);
    top: -50px;
    border-radius: 32px;
    box-shadow: 0px 0px 25px rgb(188, 50, 50);
}

.sm-screen__background__shape2 {
    height: 200px;
    width: 300px;
    background-color: var(--box-bg);
    top: 150px;
    border-radius: 32px;
    box-shadow: 0px 0px 25px rgb(188, 50, 50);
}

/* Btn styles */
.btns {
    outline: none;
    border: 2px solid var(--btnBg);
    background-color: var(--btnBg);
    padding: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 4px 5px #110e49;
    /* font-size: medium; */
    box-shadow: 1px 2px 3px red;
    font-weight: 700;
}

.btns:hover {
    transition: 1s;
    color: #fff;
    background-color: var(--btnBg);
    box-shadow: 1px 2px 3px #110e49;
}


.sm-navbar {
    position: relative;
}

.menu {
    position: fixed;
    left: 0;
    background: var(--main-color);
    width: 440px;
    z-index: 4;
    box-shadow: 1px 2px 5px rgb(188, 50, 50);
}

.menu ul li,
.menu ul li a {
    list-style: none;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

/* Popular Games */
.game-img {
    height: 250px;
    width: 99%;
    object-fit: cover;
    border-radius: 3px;
}

@media (min-width: 768px) {
    .game-img {
        height: 300px;
        width: 350px;
        object-fit: cover;
        border-radius: 3px;
    }
}

@media (min-width: 992px) {
    .game-img {
        height: 300px;
        width: 400px;
        object-fit: cover;
        border-radius: 3px;
    }
}

.popular-games {
    position: relative;
}

.game-info {
    position: absolute;
    bottom: 10px;
    left: 20%;
}

.game-info h3 {
    text-transform: uppercase;
    color: var(--box-bg);
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 0px 4px;
    font-family: 'Lilita One', cursive;
}

.game-info p {
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 0px 4px;
    color: var(--box-bg);
    font-size: smaller;
}

.popular-games img {
    border-radius: 10px;
    filter: opacity(80%);
}

.popular-games a:hover {
    color: #fff;
}

.popular-games img:hover {
    transition: 1s;
    box-shadow: 1px 2px 5px rgb(188, 50, 50);
}

footer {
    background-color: #111010;
    margin-top: 150px;
}

/* Tournament */
.tournament-games {
    position: relative;
}

.tournament-games .row {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border: 1px solid var(--btnBg);
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    text-transform: uppercase;
}

.tournament-games .row p {
    font-size: smaller;
    color: var(--box-bg);
    text-shadow: 1px 2px #212020;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Lilita One', cursive;

}

.tournament-game-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    filter: opacity(40%);
}

.tournament-games img:hover {
    transition: 1s;
    /* filter: opacity(100%); */
    box-shadow: 1px 2px 5px rgb(188, 50, 50);
}

.tournament-games a:hover {
    color: #fff;
}

.tournament-games .col-4 {
    /* text-transform: uppercase; */
    color: var(--box-bg);
    text-shadow: 1px 1px #878787;
}


/* Table  */
.custom-table {
    background-image: url(/img/table-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 4px 40px 49px #dd9d07;
}

.custom-table thead tr,
.custom-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.custom-table tbody th,
.custom-table tbody td {
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: var(--main-color);
}

.custom-table tbody tr:hover td,
.custom-table tbody tr:focus td {
    color: #fff;
}

.custom-table tbody tr:hover td a,
.custom-table tbody tr:focus td a {
    color: #fdd114;
}

.custom-table .td-box-wrap {
    padding: 0;
}


/* Winners */
.swiper-pagination-bullet-active {
    background-color: var(--btnBg) !important;
}

.swiper-pagination-bullet {
    border: 3px solid var(--btnBg);
}

.gamer-wrapper {
    margin: 40px 0px;
    font-size: small;
    height: auto !important;
}

.gamer-wrapper:active {
    cursor: pointer;
}